{% extends "/layouts/dashboard_layout.html.twig" %}

{% block title %}Les administrateurs{% endblock %}
{% block stylesheets %}
	<!-- Custom styles for this page -->
	<link href="{{ asset( 'assets/admin/dashboard/vendor/datatables/dataTables.bootstrap4.min.css' ) }}" rel="stylesheet">
{% endblock %}
        
{% block body %}

	<div class="container-fluid">

	  <!-- Page Heading -->
	  <p class="mb-4"><a href="{{ path('admin_account_new')}}" class="btn btn-success">Ajouter Un nouvel Utilisateur</a></p>
	  <!-- DataTales Example -->
	  <div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Tables des administrateurs</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
							<th>#</th>
							<th>Nom</th>
							<th>Prénom</th>
							<th>Email</th>
							<th>Rôles</th>
							<th>Voir</th>
							<th>Modifier</th>
							<th>Supprimer</th>
							</tr>
						</thead>
						<tfoot>
							<tr>
							<th>#</th>
							<th>Nom</th>
							<th>Prénom</th>
							<th>Email</th>
							<th>Rôles</th>
							<th>Voir</th>
							<th>Modifier</th>
							<th>Supprimer</th>
							</tr>
						</tfoot>
						<tbody>
							{% for adminUser in adminUsers %}
								<tr>
									<td>{{ adminUser.id }}</td>
									<td>{{ adminUser.firstName }}</td>
									<td>{{ adminUser.lastName }}</td>
									<td>{{ adminUser.email }}</td>
									<td>
										{% for role in adminUser.roles %}
											{{ role }}<br>
											{% else %}
											<p>Rôle absent</p>
										{% endfor %} 
									</td>
									<td>
										<a href="{{ path('admin_account_show', {'id': adminUser.id}) }}" class="btn btn-inverse-secondary">
											<i class="fa fa-eye"></i>
										</a>
									</td>
									<td>
										<a href="{{ path('admin_account_edit', {'id': adminUser.id}) }}" class="btn btn-inverse-primary">
											<i class="fa fa-edit"></i>
										</a>
									</td>
									<td>
										<a href="{{ path('admin_account_delete', {'id': adminUser.id}) }}" class="btn btn-inverse-danger"
											onclick="return confirm((`Êtes-vous sûre de vouloir supprimer l'administrateur : {{ adminUser.fullname }} ?`))">
											<i class="fa fa-trash"></i>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
	  	</div>
	</div>
{% endblock %}

{% block javascripts %}
	<!-- Page level plugins -->
	<script src="{{ asset( 'assets/admin/dashboard/vendor/datatables/jquery.dataTables.min.js' ) }}"></script>
	<script src="{{ asset( 'assets/admin/dashboard/vendor/datatables/dataTables.bootstrap4.min.js' ) }}"></script>

	<!-- Page level custom scripts -->
	<script src="{{ asset( 'assets/admin/dashboard/js/demo/datatables-demo.js' ) }}"></script>
{% endblock %}