{% extends '/layouts/dashboard_layout.html.twig' %}

{% block title %} | Utilisateur {{ user.firstname }} {{ user.lastname }} {% endblock %}

{% block body %}
<!-- Begin Page Content -->
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-6">

                <!-- Dropdown Card Example -->
                <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Utilisateur : <strong>{{ user.firstname }} {{ user.lastname }}<strong></h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    Référence : <span class="span-card">{{ user.iduser }}</span><hr>
                    Prénom : <span class="span-card">{{  user.firstname }}</span><hr>
                    Nom : <span class="span-card">{{ user.lastname }}</span><hr>
                    Email : <span class="span-card">{{  user.email }}</span><hr>
                    Rue : <span class="span-card">{{ user.street }}</span><hr> 
                    Code postal : <span class="span-card">{{ user.zip }}</span><hr>
                    Ville : <span class="span-card">{{ user.city }}</span><hr>
                    Pays : <span class="span-card">{{ user.country }}</span><hr>
                    Anniversaire : <span class="span-card">{{ user.birthday ? user.birthday|date('d-m-Y H:i:s') : '' }}</span> <hr>
                    Sexe : <span class="span-card">{{ user.sexe }}</span><hr>
                    Statut : 
                    <span class="span-card">
                        {% if user.active == 1 %}
                            actif
                        {% else %}
                            inactif
                        {% endif %}
                    </span>
                    <hr>
                    Date de création : <span class="span-card">{{ user.createdat ? user.createdat|date('d-m-Y H:i:s') : '' }}</span><hr>
                    Date de modification : <span class="span-card">{{ user.updetedat ? user.updetedat|date('d-m-Y H:i:s') : '' }}</span><hr>

                    Nombre d'animaux associés : <span class="span-card"> {{ user.pets|length }} </span><br><br>
                    {% if user.pets|length > 0 %}
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" margin="auto">
                            <thead style="color:#005582 !important;">
                                <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Type</th>
                                <th>Race</th>
                                <th>Sexe</th>
                                <th>Propriétaire</th>
                                <th>Date d'aniversaire</th>
                                <th>Date d'acquisition</th>
                                </tr>
                            </thead>
                            <tfoot style="color:#005582 !important;">
                                <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Type</th>
                                <th>Race</th>
                                <th>Sexe</th>
                                <th>Propriétaire</th>
                                <th>Date d'aniversaire</th>
                                <th>Date d'acquisition</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for pet in user.pets %}
                                    {% if loop.index is divisible by(2) %}
                                        <tr style="background-color:#f4f3f6 !important;">
                                        {% else %}
                                            <tr style="background-color:#fbf9ff !important;">
                                            {% endif %}
                                            {% if user.iduser == pet.userIduser.iduser %}
                                                <td>{{ pet.idpet }}</td>
                                                <td>{{ pet.name }}</td>
                                                <td>{{ pet.type }}</td>
                                                <td>{{ pet.race }}</td>
                                                <td>
                                                {% if pet.sexe == 'Homme' %}
                                                    Mâle
                                                    {% else %}
                                                        Femelle
                                                    {% endif %}
                                                </td>
                                                <td>{{ pet.userIduser.fullname }}</td>
                                                <td>{{ pet.createdat ? pet.createdat|date('d-m-Y H:i:s') : '' }}</td>
                                                <td>{{ pet.updatedat ? pet.updatedat|date('d-m-Y H:i:s') : '' }}</td>
                                            {% endif %}
                                        </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                            Aucun enregistrement n'a été trouvé
                    {% endif %}
                    

                    <br><br>
                    <a href="{{ path('accounts_index') }}" class="btn btn-primary">
                                Revenir à la liste des utilisateurs
                    </a>
                    <div style="display: inline-flex">
                        <a href="{{ path('account_register') }}" class="btn btn-success">Créer</a>
                    </div>
                    <div style="display: inline-flex">
                        <a href="{{ path('account_profile', {'iduser': user.iduser }) }}" class="btn btn-primary">Modifier</a>
                    </div>
                    <div style="display: inline-flex">
                        <a href="{{ path('account_delete', {'iduser': user.iduser }) }}" class="btn btn-danger"
                            onclick="return confirm((`Êtes-vous sûre de vouloir supprimer l\'utilisateur : {{ user.firstname }} {{ user.lastname }} ?`))">Supprimer</a>
                    </div>
                </div>
                </div>

            </div>

        </div>

    </div>
    <!-- /.container-fluid -->
{% endblock %}