<td>
<a href="{{ path('admin_user_account_show', {'iduser': user.iduser}) }}" class="btn btn-inverse-secondary">
    {{ user.iduser }}	
</a>
</td>
<td>{{ user.firstName }}</td>
<td>{{ user.lastName }}</td>
<td>{{ user.email }}</td>
<td>{{ user.street }}</td>
<td>{{ user.zip }}</td>
<td>{{ user.city }}</td>
<td>{{ user.country }}</td>
<td>{{ user.birthday ? user.birthday|date('d-m-Y H:i:s') : '' }}</td>
<td>{{ user.sexe }}</td>
<td>{% if user.active == 1 %}
    actif
    {% else %}
        inactif
{% endif %}
</td>
<td>{{ user.createdat ? user.createdat|date('d-m-Y H:i:s') : '' }}</td>
<td>{{ user.updetedat ? user.updetedat|date('d-m-Y H:i:s') : '' }}</td>

<td>
    <a href="{{ path('account_profile', {'iduser': user.iduser}) }}" class="btn btn-inverse-primary">
        <i class="fa fa-edit"></i>
    </a>
</td>
<td>
    <a href="{{ path('account_delete', {'iduser': user.iduser}) }}" class="btn btn-inverse-danger"
        onclick="return confirm((`Êtes-vous sûre de vouloir supprimer l'administrateur : {{ user.firstname }} {{ user.lastname }}?`))">
        <i class="fa fa-trash"></i>
    </a>
</td>