{% extends '/layouts/dashboard_layout.html.twig' %}

{% block title %}Localisation : {{ location.idlocation }} {% endblock %}

{% block body %}
<!-- Begin Page Content -->
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-6">

                <!-- Dropdown Card Example -->
                <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Localisation N° : <strong>{{ location.idlocation }}<strong></h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    Référence : <span class="span-card">{{ location.idlocation }}</span><hr>
                    Longitude : <span class="span-card">{{  location.lon }}</span><hr>
                    Latitude : <span class="span-card">{{ location.lat }}</span><hr>
                    Date de création : <span class="span-card">{{ location.createdat ? location.createdat|date('d-m-Y H:i:s') : '' }}</span> <hr>
                    Animal concerné : <span class="span-card">{{ location.petIdpet.name }}</span><hr>
                    <br><br>
                    <a href="{{ path('locations_index') }}" class="btn btn-primary">
                                Toutes les localisations
                    </a>
                    <div style="display: inline-flex">
                        <a href="{{ path('location_register') }}" class="btn btn-success">Créer</a>
                    </div>
                    <div style="display: inline-flex">
                        <a href="{{ path('location_edit', {'idlocation': location.idlocation }) }}" class="btn btn-primary">Modifier</a>
                    </div>
                    <div style="display: inline-flex">
                        <a href="{{ path('location_delete', {'idlocation': location.idlocation }) }}" class="btn btn-danger"
                            onclick="return confirm((`Êtes-vous sûre de vouloir supprimer cette localisation ?`))">Supprimer</a>
                    </div>
                </div>
                </div>

            </div>

        </div>

    </div>
    <!-- /.container-fluid -->
{% endblock %}